/*@font-face {*/

/*font-family:'fzztjw';*/

/*src: url('../font/SourceHanSansCN-Normal.otf');*/

/*font-weight: normal;*/

/*font-style: normal;*/

/*}*/

/*通用样式*/
@font-face {
    font-family: 'open_sansregular';
    src: url('../assets/font/opensans-regular-webfont.eot');
    src: url('../assets/font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/font/opensans-regular-webfont.woff2') format('woff2'),
    url('../assets/font/opensans-regular-webfont.woff') format('woff'),
    url('../assets/font/opensans-regular-webfont.ttf') format('truetype'),
    url('../assets/font/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
* {
    font-family:'open_sansregular',Arial,Helvetica,sans-serif,"宋体";
}

.ti2 {
    text-indent: 2em;
}
.fwb {
    font-weight: bold;
}

.dn {
    display: none!important;
}
.w1200 {
    width: 1200px;
    margin: 0 auto;
}
.w954 {
    width: 954px;
    margin: 0 auto;
}
.brbs {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.el-form-item__label {
    font-size: 16px;
    color: #333;
    padding-right: 7px;
    text-align: justify;
    text-align-last: justify;
}

.el-input__inner {
    color: #333;
}
.el-input {
    font-size: 16px;
}
.el-textarea {
    font-size: 16px;
}

.el-carousel__arrow {
    width: 70px;
    height: 70px;
    background-color: rgba(191, 191, 191, 0.7);
}
.el-carousel__arrow i {
    font-size: 40px;
}
.el-carousel__arrow--left {
    left: 269px;
}
.el-carousel__arrow--right {
    right: 269px;
}
